.classpath
.settings
.project
java/training.log
target/
java/target
lucene/
Thumbs.db
java/java.exe.stackdump
.springBeans
flex/bin-debug
flex/target
flex/.actionScriptProperties
flex/.flexProperties
flex/.project
java/src/main/webapp/swf
flex/html-template/
