body
{
	background-color: #6F605A;
}
	
#tabular_data
{
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;	
}
	
#wrapper
{
	margin: 6px auto;
	width: 960px;
	background-color: #FFFFFF;	
}

#header, #footer
{
	color: #FFFFFF;
}

#header
{
	background:url("../images/header.png") no-repeat scroll center transparent;
	height:160px;
	width:960px;
}
	
#logo
{
	padding-left: 120px;
	padding-top: 60px;
}

#language
{
	float: right;
	margin-top: 40px;
}

#footer
{
	border-top: 1px dashed #B2B2B2;
}

#footer_bottom
{
	background: url("../images/footer_bg.png");
	height: 10px;
	margin:0;width:960px;
}

#footer_texts
{
	height: 50px;
	color: #666666;
	background-color: #FFFFFF;
	margin: 0;
	width: 960px;
}

#footer_texts div
{
	margin-top: 10px;
	margin-left: 30px;
}

#main_body
{
	background:url("../images/body_bg.png");
}
	
#nav
{
	font-size: 100%;
	margin-top:20px;
}

#nav ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: none;
}

#nav ul li
{
	background:url("../images/left_menu_bullet.gif") no-repeat scroll left center transparent;
	margin: 0px;
	padding: 0 0 0 16px;
	font-weight: bold;
	border-bottom: 1px dashed #C39C4E;
}

#nav ul li a
{
	display: block;
	padding: 5px 0px 2px 4px;
	text-decoration: none;
	color: #666666;
}

#nav ul li a:hover, #nav ul li a:focus
{
	color: #000000;
	background-color: #C39C4E;
}

#main_content
{
	margin: 10px 0 0 20px;
}

table
{
    border-spacing: 0px;
    border-collapse: collapse;
    border-top: 4px solid #C39C4E;
    border-bottom: 1px solid #C39C4E;
    width: 680px;
}

table th
{
    text-align: left;
    font-weight: normal;
    padding: 0.2em 0.5em;
    border-top: 1px dotted #C39C4E;
}

table td
{
    text-align: right;
    border-top: 1px dotted #C39C4E;
    padding: 0.2em 0.5em;
}

table thead th
{
	font-weight: bold;
    text-align: right;
    border-bottom: 1px solid #C39C4E;
}

table th.Corner
{
    text-align: left;
}

div#action a
{
	text-decoration: none;
	color: #EA9A1C;
	background-color: #6F605A;
	padding: 4px 8px;
	border: 1px solid #EA9A1C;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    -opera-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
}

div#action a:hover
{
	color: #C39C4E;
	background-color: #F5F5F5;
	border: 1px solid #EA9A1C;
}

fieldset
{
	border: 1px solid #DFDFDF;
	padding: 1em;
}

legend
{
	color: #FFFFFF;
	background: #6F605A;
	border: 1px solid #666666;
	padding: 2px 6px;
	font-weight: bold;
}

#user_form
{
	width: 500px;
	padding: 16px;
}

#user_form h1
{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

#user_form p
{
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #dedede;
	padding-bottom: 10px;
}

#user_form label
{
	display: block;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}

#user_form .small
{
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}

#user_form input, #user_form textarea
{
	height: 20px;
	width: 280px;
	margin: 2px 0 30px 10px;
	padding-left: 26px;
	border-color:#7C7C7C #C3C3C3 #DDDDDD;
	border-style:solid;
	border-width:1px;
}

#user_form button
{ 
	clear: both;
	margin-left: 150px;
	background: #686868;
	color: #FFFFFF;
	border: solid 1px #666666;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 6px;
}

#first_name, #last_name, #user_name
{
	background: url("../images/user.png") no-repeat scroll 1px 50% #FFFFFF;	
}

#password
{
	background: url("../images/key.png") no-repeat scroll 1px 50% #FFFFFF;	
}

#age
{
	background: url("../images/age.png") no-repeat scroll 1px 50% #FFFFFF;	
}

#home_page
{
	background: url("../images/link.png") no-repeat scroll 1px 50% #FFFFFF;	
}

#hobbies
{
	background: url("../images/sport_soccer.png") no-repeat scroll 1px 50% #FFFFFF;	
}

#bio
{
	background: url("../images/user_comment.png") no-repeat scroll 1px 2px #FFFFFF;	
}

#user_form textarea
{
	height: 120px;
}

#user_form input[type="radio"]
{
	height: auto;
	width: auto;
	border: none;
	float: left;
}

#user_form div div span label
{
	float: none;
	margin-left: -30px;
}

form div div span
{
	float: left;
	height: 20px;
}

.radio_error
{
	color: #FF0000;
	margin-left: 150px;
	margin-bottom: 10px;	
}

.form_error
{
	margin-top: -20px;
	color:red;
	margin-left:150px;
	margin-bottom:10px;
}


/* tooltip styling */
.user_action
{
	cursor: pointer;	
}
	
.tooltip
{
	display:none;
	background:url(../images/edit_delete.png) no-repeat scroll 0 0;
	height:40px;
	width:140px;
	text-align: center;
	padding-top: 10px;
	padding-left: 6px;
}

/* a .label element inside tooltip */
.tooltip .label
{
	color:yellow;
	width:35px;
}

.tooltip a
{
	color:#ad4;
	font-size:11px;
	font-weight:bold;
	margin-right: 6px;
	text-decoration: none;
}

#action_img
{
	vertical-align: middle;
	margin-right: 6px;
}