body
{
	background-color: #6F605A;	
}
	
#header, #footer
{
	height: 60px;
	background-color: #686868;
	width: 100%;
	color: #FFFFFF;
}

#footer
{
	height: 20px;
	background:#686868;
}
	
#header div
{
	padding-top: 10px;
	padding-left: 10px;	
}

#nav
{
	font-size: 100%;
	padding: 0px;
	margin: 0px;
}

#nav ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: none;
}

#nav ul li
{
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

#nav ul li a
{
	display: block;
	border-bottom: 1px dashed #C39C4E;
	padding: 5px 0px 2px 4px;
	text-decoration: none;
	color: #666666;
}

#nav ul li a:hover, #nav ul li a:focus
{
	color: #000000;
	background-color: #F5F5F5;
}

#main_content
{
	margin: 10px 0 0 20px;
}

table
{
    border-spacing: 0px;
    border-collapse: collapse;
    border-top: 4px solid #C39C4E;
    border-bottom: 1px solid #C39C4E;
}

table th
{
    text-align: left;
    font-weight: normal;
    padding: 0.2em 0.5em;
    border-top: 1px dotted #C39C4E;
}

table td
{
    text-align: right;
    border-top: 1px dotted #C39C4E;
    padding: 0.2em 0.5em;
}

table thead th
{
	font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #C39C4E;
}

table th.Corner
{
    text-align: left;
}

div#action a
{
	text-decoration: none;
	color: #EA9A1C;
	background-color: #F0E68C;
}

div#action a:hover
{
	color: #C39C4E;
	background-color: #F5F5F5;
}

fieldset
{
	border: 1px solid #666666;
	padding: 1em;
}

legend
{
	color: #FFFFFF;
	background: #686868;
	border: 1px solid #666666;
	padding: 2px 6px;
	font-weight: bold;
}

#user_form
{
	width: 500px;
	padding: 16px;
}

#user_form h1
{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

#user_form p
{
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #dedede;
	padding-bottom: 10px;
}

#user_form label
{
	display: block;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}

#user_form .small
{
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}

#user_form input, #user_form textarea
{
	float: left;
	width: 300px;
	margin: 2px 0 30px 10px;
	padding-left: 20px;
	border: 1px solid #686868;
}

#user_form button
{ 
	clear: both;
	margin-left: 150px;
	background: #686868;
	color: #FFFFFF;
	border: solid 1px #666666;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 6px;
}

h2 a
{
	text-decoration: none;
	color: #FFFFFF;
}

h2 a:hover
{
	color: #C39C4E;
}

#first_name, #last_name
{
	background: url("../images/user.png") no-repeat scroll 1px 50% #FFFFFF;	
}

#age
{
	background: url("../images/age.png") no-repeat scroll 1px 50% #FFFFFF;	
}

#home_page
{
	background: url("../images/link.png") no-repeat scroll 1px 50% #FFFFFF;	
}

#hobbies
{
	background: url("../images/sport_soccer.png") no-repeat scroll 1px 50% #FFFFFF;	
}

#bio
{
	background: url("../images/user_comment.png") no-repeat scroll 1px 2px #FFFFFF;	
}

#user_form textarea
{
	height: 120px;
}

#gender1
{
	float: left;
	margin: 2px 0 30px 10px;
	padding-left: 20px;
}

#gender2
{
	
}