#header, #footer
{
	height: 60px;
	background-color: #686868;
	width: 100%;
	color: #FFFFFF;
}

#footer
{
	height: 20px;
	position:absolute;
	bottom:0;
	background:#686868;
}
	
#header div
{
	padding-top: 10px;
	padding-left: 10px;	
}

#nav
{
	font-size: 100%;
	padding: 0px;
	margin: 0px;
}

#nav ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: none;
}

#nav ul li
{
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

#nav ul li a
{
	display: block;
	border-bottom: 1px dashed #C39C4E;
	padding: 5px 0px 2px 4px;
	text-decoration: none;
	color: #666666;
}

#nav ul li a:hover, #nav ul li a:focus
{
	color: #000000;
	background-color: #F5F5F5;
}

#main_content
{
	margin: 20px 0 0 20px;
}

table
{
    border-spacing: 0px;
    border-collapse: collapse;
    border-top: 4px solid #C39C4E;
    border-bottom: 1px solid #C39C4E;
}

table th
{
    text-align: left;
    font-weight: normal;
    padding: 0.2em 0.5em;
    border-top: 1px dotted #C39C4E;
}

table td
{
    text-align: right;
    border-top: 1px dotted #C39C4E;
    padding: 0.2em 0.5em;
}

table thead th
{
	font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #C39C4E;
}

table th.Corner
{
    text-align: left;
}

div#action a
{
	text-decoration: none;
	color: #EA9A1C;
	background-color: #F0E68C;
}

div#action a:hover
{
	color: #C39C4E;
	background-color: #F5F5F5;
}

.myform{
	margin: 0 auto;
	width: 400px;
	padding: 14px;
}

#basic
{
	border: solid 2px #DEDEDE;
}

#basic h1
{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

#basic p
{
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #dedede;
	padding-bottom: 10px;
}

#basic label
{
	display: block;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}

#basic .small
{
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}

#basic input
{
	float: left;
	width: 200px;
	margin: 2px 0 30px 10px;
}

#basic button
{ 
	clear: both;
	margin-left: 150px;
	background: #888888;
	color: #FFFFFF;
	border: solid 1px #666666;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 6px;
}

h2 a
{
	text-decoration: none;
	color: #FFFFFF;
}

h2 a:hover
{
	color: #C39C4E;
}